@import "../variables.scss";

nav {
  margin: 0 15rem;
  padding-top: 2rem;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      li {
        margin-left: 0.5rem;
        &:first-child {
          border-bottom: 0.1rem solid $primaryColor;
        }
        a {
          text-decoration: none;
          margin: 0 1rem;
          padding-bottom: 1rem;
          font-size: larger;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        transition: 0.3s ease-in-out;
        &:hover {
          border-bottom: 0.1rem solid $primaryColor;
        }
      }
    }
  }
}
